<div>
  <div class="jumbotron" style="margin: 45px">
      <h2 style="text-align: center;padding: 7% 0">ContactUs</h2>
      <form action="">
        <div class="container">
          <p style="text-align: center;padding-bottom: 20px">
            UserName <input type="text" name="name" placeholder="Enter your name" email required style="padding-right: 60px;margin-left: 35px" ></p>
              </div>
        <div class="container">
          <p style="text-align: center;padding-bottom: 20px">
             E-mail <input type="text" name="email" placeholder="Enter your emailaddress" email required style="padding-right: 60px;margin-left: 70px" ></p>
              </div>
         <div class="container">
          <p style="text-align: center">
         ContactNumber<input type="text" name="number" placeholder="Contactnumber" required style="padding-right: 60px;margin-left: 10px"> <br>
          <button class="btn btn-primary" style="margin-top: 20px"> Submit</button></p>          
        </div>
      

      </form>

  </div>
